<script>
  const room_id = <%= @room.id %>;
  const user_id = <%= @current_user.id %>;
  const users = <%= @room.users.pluck(:id, :name).to_h.to_json.html_safe %>;
  $(document).ready(function(){



    $('#start').click(function(){
      console.log('clicked start');
      App.room_messages.send_message({
        event_type: 'start_game'
      
       });
      return false;
     });

    $('#exit_room').click(function(){
      console.log('clicked end');
      App.room_messages.send_message({
        event_type: 'remove_user',
      });
      return false;
    });

    let night = 20;
    nightTimer = setInterval(function(){
    night --;
    document.getElementById("timerNight").textContent = night;
    if(night <= 0)
        clearInterval(nightTimer);

    },1000);

    // let day = 120;
    // dayTimer = setInterval(function(){
    // day --;
    // document.getElementById("timerDay").textContent = day;
    // if(day <= 0)
    //     clearInterval(dayTimer);
    // },1000);



  });

</script>
<style>
  #mafia_chat_wrapper {
    display: none;
  }

  #timerNight{
    /* display: none; */
    text-align: right;
    font-size: 24px;
    margin-top:0px;
    color: blue;
  }

  #timerDay{
    display: none;
    text-align: right;
    font-size: 24px;
    margin-top:0px;
    color: red;
  }
  #pressure0{
    display: none;
    color:blue;
    font-size: 24px;
  }
  #pressure1{
    display: none;
    color:orange;
    font-size: 30px;
  }
  @keyframes pressure {
    from {background-color: blue;}
    to {background-color: red;}
  }
  @keyframes blink {
    from {opacity:1.0;}
    to {opacity: 0.0;}
  }

  #pressure2{
    color:red;
    text-decoration: blink;
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  #timesup{
    display: none;
    color: red;
    font-size: 32px;
  }

</style>


<h1>Rooms <%= @room.name %></h1>
<br>
<br>
<div class="container">
  <div class="row">
    Players:
      <div id="playerlist"></div>

      </div>
</div>
<br>
<br>
<% if @room.image.present? %>
  <%= cl_image_tag @room.image, class: "img" %>
  <% end %>
<%# if @current_user.present? %>
<%#= link_to 'Edit', edit_room_path( @room ) %>
|
<%#= link_to 'Delete lol', room_path( @room ), method: 'delete' %>
<%# end %>
<br>
  <div class="col-sm-10">
    <% if @room.gamestate[:canStart] %>
     <%= button_tag "Start game", style: "display: show", class: "btn btn-danger btn-lg", id: "start"%>
    <% else %>
      <%= 'Not enough players to start' %>
    <% end %>
  </div>
<br>
<%# link_to "Back to Index", rooms_path, class: "btn btn-info btn-block btn-sm buttonFont customButton" %>

<% if flash[:errors] %>
  <strong>The following errors need to be corrected :</strong>
  <ol>
    <% flash[:errors].each do |e| %>
    <li>
      <%= e %>
    </li>
    <% end %>
  </ol>
<% end %>

<p> Kill poor citizens <span id="timerNight"> in 20 </span> Seconds</p>
<p id="pressure0">tic tac tic tac</p>
<p id="pressure1">Tic Tac Tic Tac</p>
<p id="pressure2">TIC TAC TIC TAC</p>
<p id="timesup">Time's up!!! Let's announce who got killed</p>


<p> ELIMINATE MAFIAAAA!!!!!!! <span id="timerDay"> in 120 </span> Seconds</p>


<div id="publicChannel">
  <h3>Messages:</h3>
  <div id="messages">
    <% @room.messages.each do |r| %>
      <b><%= r.user.name %>: </b><%= r.text_body %> <br></b><%= time_ago_in_words(r.created_at) %> <br>
    <% end %>
  </div>
  <br>

  <%= render partial: 'messages/message_form', locals:{room:@room, message: @message}%>

<br>
<div id="mafia_chat_wrapper">
  <%# if @current_user.stateobject[:mafia] %>
  <hr>
    <div id="privateChannel">
      <h4>Mafia channel:</h4>
      <div id="mafiaChannel">
        <% @room.mafium.each do |r| %>
          <b><%= r.user.name %>: </b><%= r.text_body %> <br></b><%= time_ago_in_words(r.created_at) %> <br>
        <% end %>
      </div>
    </div>
    <br>
    <%= render partial: 'mafias/mafia_form', locals:{room:@room, message: @mafia}%>
  <%# end %>
</div>

<%= link_to "Back to Rooms", rooms_path(id:"exit_room"), class: "btn btn-primary" %>
